allow zygote system_file:dir mounton;
allow zygote { device proc_cmdline }:file { read write open getattr };
allow zygote bluetooth_prop:file { getattr  open  read };

get_prop(zygote, exported_camera_prop);
